registry=https://registry.npmjs.org/

@digita-ai:registry=https://npm.pkg.github.com
# Windows users should use %NPM_TOKEN% for environment variable.
# Other users should use ${NPM_TOKEN}
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
always-auth=true